# Docker files
Dockerfile
docker-compose.yml
docker-compose.dev.yml
Dockerfile.dev
Dockerfile.lavalink
.dockerignore

#folders
dist
logs
.vscode
.husky

# Git files
.git
.github
.gitignore
LICENSE
README.md

# Node modules and lint settings
node_modules
.prettierrc
